<!DOCTYPE html>
<html>
<head>
    <title>Journey Junction - User Reset Password Notification</title>
</head>

<body>
    <p>Dear {{userName}},</p>
    <p>We received a request to reset your password. Click the link below to set up a new password. Valid for 15min</p> 
    <p><a href="{{link}}">Link</a></p>
    <p>If you didn't request a password reset, please ignore this email. Your password will remain unchanged.</p>
    <p>For any further assistance, feel free to contact our support team.</p>
</body>

</html>
